<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Monthly Newsletter - NBPF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <a href="../index.html" class="back-button">&#8592; Homepage</a>
        <a href="./page2.html" class="left-button">&#8592;</a>
        <a href="./page2.html" class="right-button">&#8594;</a>
         <div class="image-map-container" id="imgContainer">
            <img src="assets/page1.png" usemap="#image-map" alt="">
            <map name="image-map">
                <area target="" alt="juice" title="juice" href="apple" coords="451,771,668,1133" shape="rect">
                <area target="" alt="road crossing" title="road crossing" href="./assets/cover.mp4" coords="484,1162,790,1342" shape="rect">
            </map>
            <div class="video-over-area">
                <video controls poster="assets/cover-thumb.jpg">
                    <source src="assets/cover.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <script src="./script.js"></script>
    </body>
</html>